<h1>Current tag list</h1>
<ul>
  <% @tags.each do |tag| %>
    <li class="my-2">
      <%= link_to tag.name, tag_path(tag) %>
      <% if logged_in? %>
        <%= link_to 'X', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger font-weight-bold ml-2' %>
      <% end %>
    </li>
  <% end %>
</ul>