<h1>Articles Tagged with `<%= @tag.name %>`
<% if logged_in? %>
  <%= link_to ' Delete tag', tag_path(@tag), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger font-weight-bold ml-2' %>
<% end %>
</h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %> </li>
  <% end %>
</ul>